@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
i,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


body {
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./space.jpg);
  background-size: 100%;
  padding: 0;
}

body::after {
  content: '';
  display: block;
  height: 50px;
  /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0;
  text-align: center;
}

@media (hover: hover) {
  i {
    border-radius: 5px;
  }

  i:hover {
    /* background-color: hsla(0, 0%, 67%, 0.185); */
    box-shadow: 0 0 0 6px #00000088, 0 0 0 7px #ffffff;
  }

  a {
    border-radius: 5px;
  }

  a:hover {
    background-color: hsla(0, 0%, 67%, 0.185);
  }
}

.rainbow-text {
  background-image: repeating-linear-gradient(90deg, rgb(73, 73, 73), white);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0 2rem; */
    align-items: center;
  }
}

@media (max-width: 767px) {
  body {
    display: flex;
    place-items: center;
  }

  #grid {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* padding: 0 2rem; */
    align-items: center;
  }
}
