@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
i,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


body {
  position: relative;
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./space.jpg); */
  background-color: #000;
  background-size: 100%;
  padding-bottom: 50px;
  /* background-image: radial-gradient(circle at 1px 1px, black 1px, transparent 0);
  background-size: 10px 10px; */
}

.star {
  position: fixed;
  border-radius: 50%;
}

.sO { background-color: #92b5ff; }
.sB { background-color: #a2c0ff; }
.sA { background-color: #d5e0ff; }
.sF { background-color: #f9f5ff; }
.sG { background-color: #ffede3; }
.sK { background-color: #ffdab5; }
.sM { background-color: #ffb56c; }

.twinkle {
	opacity: 0.6;
	animation-name: fadeInOpacity;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.2;
	}
}



body::after {
  content: '';
  display: block;
  height: 50px;
  /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0;
  text-align: center;
}
.rainbow-text {
  background-image: repeating-linear-gradient(90deg, rgb(73, 73, 73), white);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #grid {
    display: grid;
    /* padding: 0 2rem; */
    align-items: start;
  }
}

@media (max-width: 767px) {
  body {
    display: flex;
    place-items: center;
  }

  #grid {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* padding: 0 2rem; */
    align-items: center;
  }
}

.logo {
  margin-bottom: 20px;
}

#intro {
  /* position: absolute; */
  text-align: center;
  margin: 5px;
  line-height: 2;
}
